; server settings
host = 0.0.0.0
port = 7080
;password =
always_allow_localhost = 0

master_host = 127.0.0.1
master_port = 7081
master_reconnect_timeout = 10

; log
log_file = /var/log/jobd/jobd.log
log_level_file = info
log_level_console = debug

; mysql settings
mysql_host = 10.211.55.6
mysql_port = 3306
mysql_user = jobd
mysql_password = password
mysql_database = jobd
mysql_table = jobs
mysql_fetch_limit = 10

; launcher command template
launcher = php /Users/ch1p/jobd-launcher.php --id {id}
max_output_buffer = 16777216

[targets]
1/low = 2
1/normal = 5
1/high = 10
global = 3
