; server settings
host = 0.0.0.0
port = 7081
;password =
always_allow_localhost = 0

ping_interval = 30 ; seconds
poke_throttle_interval = 0.5 ; seconds

; logging
log_file = /var/log/jobd/jobd-master.log
log_level_file = info
log_level_console = debug
